/* Общие стили для страницы */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Статичный фон */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.jpg'); /* Укажите путь к изображению */
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.call-to-action {
    color: 282828;
}

.call-to-action h1 {
    font-size: 2.5rem;
    margin: 19% 0 30%; /* Скорректированы отступы */
}

.call-to-action h6 {
    font-size: 1.8rem; /* Сделать текст читаемым */
    margin: 55% 0 3%; /* Привести отступы в разумный вид */
    padding-bottom: 35%;
}


/* Контейнер с текстом */
.content {
    padding: 20px;
    min-height: 200vh; /* Контент больше высоты экрана */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Стих */
.poem {
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
